{% extends "::base.html.twig" %}

{% block title %}- Nouveau match{% endblock %}

{% block body %}
    <div class="col-md-12 text-center">
        {% if error is defined %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                {{ error }}
            </div>
        {% endif %}
        {% if success is defined %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                {{ success }}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-2">
            <h3>Ajouter un nouveau match</h3><br><br>
        </div>
        <form method="post" class="form-horizontal">
            <div class="col-md-12">
                <div class="form-group">
                    {% if videogame.issolo == true %}
                    <label class="col-md-2 col-md-offset-2 control-label required" for="game_team1">Joueur 1</label>
                    {% else %}
                    <label class="col-md-2 col-md-offset-2 control-label required" for="game_team1">Equipe 1</label>
                    {% endif %}
                    <div class="col-md-4">
                        <input type="text" name="game_team1" class="form-control" value="{{ team1.name }}"disabled><br>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" class="winning" name="0" value="0"/> Gagnant
                    </div>
                </div>
                <div class="form-group">
                    {% if videogame.issolo == true %}
                    <label class="col-md-2 col-md-offset-2 control-label required" for="game_team2">Joueur 2</label> 
                    {% else %}
                    {{ form_label(form.team2, label|default(null), {'label_attr': {'class':'col-md-2 col-md-offset-2 control-label'}}) }}
                    {% endif %}
                    <div class="col-md-4">
                        {{ form_widget(form.team2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" class="winning" name="1" value="1"/> Gagnant
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3"><br>
                <button type="submit" class="btn btn-primary" disabled>Envoyer</button>
            </div>
        </form>
        <div class="col-md-10 col-md-offset-2"><br><br><br>
            <p>
                <u><h4>Attention :</h4></u>
                Les matchs nuls ne sont pas autorisés, prévoyez un overtime. Il sera d'ailleurs impossible de l'ajouter sur le formulaire.<br>
                Tout match envoyé doit être validé par l'adversaire via son panel joueur, aucun changement sur le Elo ne sera effectué avant.<br>
                Si des matchs antérieurs non validés subsistent encore, il sera impossible d'en valider des nouveaux (Elo actuel fluctuant).
            </p>
        </div>
    </div>
    
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('js/checkbox.js') }}"></script>
{% endblock %}