{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
	<video autoplay loop poster="{{ asset('vid/clubpc.jpg') }}" id="bgvid">
		<source src="{{ asset('vid/clubpc.mp4') }}" type="video/mp4">
    	<source src="{{ asset('vid/clubpc.webm') }}" type="video/webm">
	</video>
	<div class="col-md-12">
		{% for videogame in videogames %}
			<a href="{{ path('cpc_video_game_index', {id:videogame.id}) }}">{{ videogame.name }}</a><br>
		{% endfor %}
	</div>
{% endblock %}