{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12 text-center">
	    {% if error is defined %}
	    	<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
				{{ error }}
			</div>
	    {% endif %}
	    {% if success is defined %}
	        <div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
				{{ success }}
			</div>
	    {% endif %}
	</div>
	<div class="col-md-12">
		<h3>Mon profil joueur</h3><br><br>
		<div class="col-md-6">
			<h4>Pseudo In-Game : {{ player.nickname }}</h4>
			<h4>Equipe : {{ player.team.name }}</h4>
		</div>
		<div class="col-md-6">
			<h4>Elo actuel : {{ player.team.currentscore }} point{% if player.team.currentscore > 1 %}s{% endif %}</h4>
			<h4>Stats :
				{% set win = 0 %}
				{% set lose = 0 %}
				{% for i in games %}
					{% if i.winningteam == 1 and player.team.id == i.team2.id and i.isValid == 1 %}
						{% set win = win + 1 %}
					{% elseif i.winningteam == 0 and player.team.id == i.team1.id and i.isValid == 1 %}
						{% set win = win + 1 %}
					{% else %}
						{% set lose = lose + 1 %}
					{% endif %}
				{% endfor %}
				{{ win }} victoire{% if win > 1 %}s{% endif %} et {{ lose }} défaite{% if lose > 1 %}s{% endif %}
			</h4>
			<h4>Ratio W/L : {{ (win/lose)|round(2, 'common') }}</h4>
			<br><br>
		</div>
		<h3>Historique de partie :</h3><br><br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr class="active">
						<th class="hidden-xs">Date</th>
						<th>Adversaire</th>
						<th>Score</th>
						<th>± Elo</th>
						<th colspan="2">Statut</th>
					</tr>
				</thead>
				<tbody>
					{% for i in games %}
						{% if i.winningteam == 1 and player.team.id == i.team2.id %}
							<tr class="success">
						{% elseif i.winningteam == 0 and player.team.id == i.team1.id %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
							<td class="hidden-xs">{{ i.date|date("d/m/Y") }}</td>
							{% if player.team.name == i.team2.name %}
								<td>{{ i.team1.name }}</td>
							{% else %}
								<td>{{ i.team2.name }}</td>
							{% endif %}
							{% if i.winningteam == 1 and player.team.id == i.team2.id %}
								<td>Victoire</td>
							{% elseif i.winningteam == 0 and player.team.id == i.team1.id %}
								<td>Victoire</td>
							{% else %}
								<td>Défaite</td>
							{% endif %}
							{% set elo = null %}
							{% for rank in ranking %}
								{% if rank.game.id == i.id and rank.team.id == player.team.id %}
									{% if rank.scoreevolution > 0 %}
										<td>+{{ rank.scoreevolution }}</td>
										{% set elo = 1 %}
									{% else %}
										<td>{{ rank.scoreevolution }}</td>
										{% set elo = 1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if elo is null %}
								<td>N.A.</td>
							{% endif %}
							{% if i.isvalid == 1 %}
								<td colspan="2"><i class="fa fa-check-square-o fa-lg"></i> OK</td>
							{% else %}
								{% if player.team.id == i.team2.id %}
									<td><a href="{{ path('cpc_player_valid', { id:videogame.id, game:i.id}) }}"><i class="fa fa-check fa-lg"></i></a></td>
									<td><a href="#"><i class="fa fa-times fa-lg"></i></a></td>
								{% elseif player.team.id == i.team1.id%}
									<td><i class="fa fa-hourglass-half fa-lg"></i></td>
									<td><a href="#"><i class="fa fa-times fa-lg" ></i></a></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}